---
layout: base.njk
title: About
---
<section id="Biography">
    <h2>
        <a href="bio/index.html">Biography</a>
    </h2>
</section>
<section id="Blog">
    <h2>
        <a href="blog/index.html">Blog</a>
    </h2>
</section>
<dialog closedby="any">
    <p>This is the about section! Check my bio or my blog!</p>
</dialog>